[worldserver]
#
# JunkToGold (mod-junk-to-gold)
# Enables/disables the module.
# 1 = enabled, 0 = disabled
#
JunkToGold.Enable = 1

# Print a log line on startup / reload
JunkToGold.Announce = 1

# Automatically sell some items in addition to grey ones
#
# If enabled, white-quality items (quality=1) that are
# STRICTLY worse than what the player already has equipped
# will be sold on loot. (Based on quality, then item level.)
#
# 0 = disabled (default); 1 = enabled
JunkToGold.SellCommonIfWorse = 0

# Also sell WEAPONS (white-quality) if they are worse than equipped
# Criteria for weapons: Quality > DPS > Item level > Required level.
# WARNING: keep the weapon if any possible slot is empty or already has an item >=
# 0 = disabled (default); 1 = enabled
JunkToGold.SellWeaponsIfWorse = 0

# Enable/disable selling for human-controlled players
# 1 = enabled (default), 0 = disabled (sell for bots only if you use Playerbots)
JunkToGold.EnableForHumans = 1

# Never sell blacklisted items
# Comma-separated list (no spaces)
# Default contains a list of shoulder items and Noboru's Cudgel (quest starter)
JunkToGold.Blacklist = 1793,1769,1744,1752,1777,1801,1809,1760,1785,6196